.back_button_div {
    height: 8vh;

}

.back_button {
    color: #739265 !important;
    height: 5vh !important;
    width: 6vw !important;
} 

.forgot_password_form {
    margin-top: 7vh;
    text-align: center;
    height: 50vh;
}

.textField {
    height: 10vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.bottom-text_inherit {
    text-align: center;
    padding-top: 6vh;
    height: 10vh;
    
}

.email_button {
  background-color: #6eab52 !important;
  color: white !important;
  border-radius: 10vw !important;
  width: 11vw;
  height: 5vh;
  text-transform: none !important;
  font-weight: normal !important;
  font-size: 2vh !important;
}