.profileBody {
}

.headerDiv {
    width: 100%;
    height: 25vh;
    background-color: #f5f9fa;
}

.UserDetails {
    width: 100%;
    height: 18vh;
}

.profileCard {
    position: absolute;
    margin-top: 16vh;
    height: 30vh;
    width: 12.5vw;
    text-align: center;
}

.followerFollowing {
    display: flex;
    
}

.following{
    flex: 1;
    display: flex;
    margin-left: 1vw;
}

.followingInt {
    margin-left: 0.2vw !important;
}

.followers {
    display: flex;
    flex: 1
}

.followerInt {
    margin-left: 0.2vw !important;
}

.UserDetailsCard {
    width: 100%;
    height: 10vh;
}

.userDetilsNav {
    width: 100%;
    display: flex;
}

.postsText {
    margin-left: 6vw !important;
    color: #8899a6 !important;
}

.postsTextSelected {
    margin-left: 6vw !important;  
    color: yellowgreen !important;
}

.likesText {
    color: #8899a6  !important;
}

.likesTextSelected {
    color: yellowgreen !important;
}


.avatarText {
    color: #8899a6  !important;
}

.avatarTextSelected {
    color: yellowgreen !important;
}

.userDetilsNavButton {
    margin-top: 0vh !important;
    border-bottom: 1.5px solid #E8E8E8 !important;
    height: 8vh !important;
    width: 100%;
}

.userDetilsNavButtonSelected {
    margin-top: 0vh !important;
    border-bottom: 3px solid yellowgreen !important;
    height: 8vh !important;
    width: 100%;
}
