.searchCard {
    margin: 1vh;
    display: flex;
    padding: 1vh;
}

.userDetails {
    flex: 0.8;
}

.SearchCardName {
    margin-top: 0.2vh !important;
    font-weight: bold !important;
    font-family: sans-serif !important;
    font-size: 1vw !important;
}

.noResultCard {
    margin-top: 3vh;
    border-radius: 2vh;
    padding: 0.5vh;
    width: 100%;
    background-color:yellowgreen;
}

.SearchCardUserName {
    margin-left: 0.2vw !important;
}

.followContainer {
    flex: 0.2;
    margin-right: 0.6vw ;
}

.noResultsText {
    margin-top: 5vh;
    text-align: center;
    color:white;
    margin-bottom: 5vh;
    font-weight: bold;
    font-size: 2.7vh;
}

.followButton {
    border: 2px solid yellowgreen !important;
    font-family: sans-serif !important;
    background-color: yellowgreen !important;
    color: white !important;
    font-weight: bold;
    border-radius: 3vh !important;
    font-weight: bold !important;
    width: 7vw;
    text-transform: none !important;
    font-size: 1vw !important;
}

.followContainerYou {
    flex: 0.2;
    margin-right: 0.6vw ;
}

.followButtonYou {
    border: 2px solid grey !important;
    font-family: sans-serif !important;
    background-color: grey !important;
    color: white !important;
    font-weight: bold;
    border-radius: 3vh !important;
    font-weight: bold !important;
    width: 7vw;
    text-transform: none !important;
    font-size: 1vw !important;
}