.main {
  /* background-color: #686e69; */
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  display:flex;
  z-index: 1;
}

.background-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: red !important;
  filter: blur(50px);
  transform: scale(1.6);
}